.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero__left {
    width: 50%;
}
.hero__title {
    font-size: 48px;
    font-weight: 700;
}

.hero__desc {
    font-size: 16px;
    font-weight: 500;
    padding: 50px 0;
    line-height: 24px;
    color: #150c01;
}

.hero__btns {
    display: flex;
    gap: 30px;
}

.hero__right {
    width: 50%;
}

.hero__right img {
    width: 100%;
}

@media (max-width: 950px) {
    .hero__title {
        font-size: 30px;
    }
    .hero__desc {
        font-size: 14px;
    }
}
@media (max-width: 800px) {
    .hero {
        flex-direction: column-reverse;
    }
    .hero__left {
        width: 100%;
        text-align: center;
    }
    .hero__btns {
        justify-content: center;
    }
    .hero__right {
        width: 100%;
    }
}
