* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
}

.container {
    width: 80%;
    max-width: 1440px;
    margin: 0 auto;
}

a {
    color: inherit;
}

.btn {
    padding: 13px 30px;
    color: #fff;
    background: #dc780b;
    border-radius: 5px;
    border: 1px solid transparent;
    transition: 0.3s;
}
.btn:hover {
    border-color: #dc780b;
    color: #dc780b;
    background: #fff;
}
@media (max-width: 870px) {
    .btn {
        font-size: 12px;
        padding: 10px 20px;
    }
}

.subtitle {
    color: #dc780b;
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 7px;
}

.title {
    font-weight: 700;
    font-size: 30px;
    color: #150c01;
    line-height: 40px;
}

.desc {
    font-weight: 400px;
    font-size: 16px;
    color: #150c01;
    line-height: 24px;
}

@media (max-width: 900px) {
    .title {
        font-size: 25px;
        line-height: 30px;
    }
    .subtitle,
    .desc {
        font-size: 14px;
    }
}
